/* HTML, CSS, and JS from Brian Guerrero https://codepen.io/brian-guerrero/pen/XKMEaw */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic);
html, body {
    height: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-container {
    margin-bottom: 0.5rem;
    position: relative;
}
.input-container input {
    padding: 0.5rem 0;
    border: none;
    border-bottom: 2px solid #999;
    color: #999;
    transition: all ease-in 0.5s;
}
.input-container input:focus, .input-container input:active {
    outline: none;
    border-bottom: 2px solid cornflowerblue;
    color: cornflowerblue;
}
.input-container input:focus + label, .input-container input:active + label {
    top: -0.5rem;
    color: cornflowerblue;
    transform: translateY(-50%) scale(1.125);
    font-style: normal;
}
.input-container input.filled {
    color: cornflowerblue;
    border-color: cornflowerblue;
}
.input-container input.filled + label {
    top: -0.5rem;
    color: cornflowerblue;
    transform: translateY(-50%) scale(1.125);
    font-style: normal;
}
.input-container label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all ease-in-out 0.5s;
    color: #999;
    font-style: italic;
    text-transform: uppercase;
}
.input-container label::-moz-selection {
    background: transparent;
}
.input-container label::selection {
    background: transparent;
}

input[type=submit] {
    width: 100%;
    padding: 0.5em;
    color: #999;
    background: transparent;
    border: 2px solid #999;
    transition: all ease-in-out 0.5s;
    tex-transform: uppercase;
}
input[type=submit]:hover, input[type=submit]:focus {
    color: cornflowerblue;
    border-color: cornflowerblue;
    outline: none;
}

.message-container p {
    color: red;
    margin: 0 0 2rem;
    font-style: italic;
    font-size: 0.9rem;
}