<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>Java 3 2023 Apps</display-name>

    <servlet>
        <servlet-name>BMIServlet</servlet-name>
        <servlet-class>ch3and4.BMIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BMIServlet</servlet-name>
        <url-pattern>/bmi</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/file-not-found.html</location>
    </error-page>

</web-app>